* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282D35;

}

nav {
  width: auto;  /*  550 */
  height: 91px;
  display: flex;
  align-items: center;
  background-color: #21222A;
  padding: 30px 25px;
}


.nav--icon {
  width: 29px;
  height: 29px;
  flex-shrink: 0;
  margin-right: 7px;
}

.nav--logo_text, .nav--title {
  margin: 0;
}
.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  color: #61DAFB;
  font-size: 22.253px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.113px;
}
.nav--title {
  color: #DEEBF8;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

main {
  padding-left: 27px;
  padding-top: 57px;
  color: #FFF;
  background-image: url(./Group.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

.main--title {
  margin:0;
  width: 424px;
  height: 41px;
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.953px;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts > li {
  line-height: normal;
  padding-block: 10px;
}

.main--facts > li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}